<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lunchbox</title>
    <!--    browser Tab icon-->
    <link rel="icon" type="image/png" href="img/logo2.png">
    <!--    end-->
    <link rel="stylesheet" href="CSS/404.css">
</head>
<body>
<a href="Main.html" target="_blank" class="text-3d">404</a>
<span class="caption">Click to Return Home</span>
</body>
</html>