.close1 {
    float: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: .5;
}

.close1:hover,
.close1:focus {
    color: #000000;
    text-decoration: none;
    opacity: .75;
}

.close1:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button.close1 {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close2 {
    float: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: .5;
}

.close2:hover,
.close2:focus {
    color: #000000;
    text-decoration: none;
    opacity: .75;
}

.close2:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button.close2 {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}